<a href="https://colab.research.google.com/github/murilopo/Data_Science_Projects/blob/master/Transformando_Tabela_PDF_em_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Transformando PDF em um Dataset

Provavelmente, você já usou o PDF em algum momento. Atualmente esse formato possui aplicações diversas, que incluem textos, imagens e até vídeos. As vantagens do PDF estão relacionadas principalmente a essa grande flexibilidade que ele proporciona. Para quem trabalha com manipulação de dados não importa o formato qual tipo de formato seja .txt,xlsx,doc,jpg. Com Python é possivel manipular.

Quantas vezes voce ja deparapou com um PDF criptografado que não era possivel selecionar o conteudo desejado?

Pensando nisso resolvi escrever um código em python, de forma bem simplificada, utilizando a biblioteca [Pdfplumber](https://github.com/jsvine/pdfplumber), para ajudar aqueles que trabalham muito com esse formato de arquivo. 


<center><img width="50%" src = 'https://raw.githubusercontent.com/murilopo/Project_Imagens/master/PDF_Icon.png'><center>

O Exercicio abaixo e para transformar em Data Set uma página especifica de um relatório em PDF. Para tal faremos a analise relatório feito pelo **Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira** sobre o dados de inscritos do [Enem 2019](https://www.gov.br/inep/pt-br/centrais-de-conteudo/press-kits)

Seguiremos o passo a passo.

1.   Importação de bibliotecas
2.   Mapear o diretório do Google Colab.
3.   Extrair o Relatório 
4.   Transforma-lo em um Dataset.

Antes de começarmos a extrair os dodas de relatório. O *pdfplumber* é uma biblioteca que não vem instalada no Python portanto devemos instalar usando o código abaixo.

In [130]:
# importar as bibliotecas(PDF PLUMBER)

!pip install pdfplumber -q

# -q utilizado para ocultar os dados de instalação

## Importando Bibliotecas

In [131]:
# Importando Bibliotecas. 
import pdfplumber
import os
import pandas as pd

## Selecionando o diretório no Google Colab

O arquivo  que iremos trabalhar `Dataset-Enem 2019.pdf` está em um dos diretório no google colab. Portanto precisamos informar em qual diretório nossa arquivo se encontra, para enfim fazer-mos a leitura.

In [132]:
os.chdir('//content/sample_data') # Direcionar o diretório deseajado

In [133]:
# Quais arquivos temos no diretório 'Sample_Data'.
relatorio= os.listdir()[2] # 3 item da lista de arquivos
relatorio

'Dataset-Enem 2019.pdf'

## Extrair arquivo

In [145]:
#Abrir o relatório 'Dataset-Enem 2019' utilizando pdfplumber
rel = pdfplumber.open(relatorio)
print(rel)

<pdfplumber.pdf.PDF object at 0x7fa30e29e7f0>

Devido a saida ter sido no fomato acima

Precisamos selecionar em qual página desejamos visualizar. Para tal Aplicaremos o método `Pages`

In [135]:
# Abrir o pdf com base na pagina desejado

In [136]:
dados= rel.pages[27].extract_table()
dados

[['UF',
  'Municípios',
  'Locais de \nprova',
  'Coordenações',
  'Salas de \nprova',
  'Inscritos'],
 ['AC', '17', '120', '130', '1.292', '38.649'],
 ['AL', '26', '228', '229', '2.591', '89.826'],
 ['AM', '56', '233', '259', '3.421', '118.149'],
 ['AP', '8', '115', '115', '1.321', '42.636'],
 ['BA', '160', '985', '1.069', '12.221', '395.437'],
 ['CE', '119', '711', '732', '8.631', '294.992'],
 ['DF', '1', '158', '166', '2.934', '95.862'],
 ['ES', '38', '186', '196', '2.935', '102.276'],
 ['GO', '55', '311', '371', '4.954', '169.984'],
 ['MA', '79', '636', '665', '6.482', '218.082'],
 ['MG', '188', '972', '1.121', '15.518', '534.648'],
 ['MS', '41', '155', '166', '2.170', '70.396'],
 ['MT', '57', '191', '210', '2.683', '88.122'],
 ['PA', '75', '741', '761', '8.521', '279.603'],
 ['PB', '51', '350', '378', '4.484', '147.182'],
 ['PE', '80', '584', '616', '7.846', '275.327'],
 ['PI', '32', '312', '340', '3.472', '122.338'],
 ['PR', '88', '369', '418', '6.479', '211.308'],
 ['RJ', '52', '554', '606', '9.820', '339.722'],
 ['RN', '40', '236', '245', '3.281', '119.324'],
 ['RO', '24', '124', '135', '1.934', '58.643'],
 ['RR', '7', '34', '41', '484', '12.959'],
 ['RS', '106', '369', '428', '6.611', '218.471'],
 ['SC', '56', '147', '209', '3.348', '110.702'],
 ['SE', '30', '180', '195', '2.328', '78.487'],
 ['SP', '210', '1.017', '1.302', '20.353', '816.014'],
 ['TO', '31', '115', '125', '1.451', '46.249'],
 ['Brasil', '1.727', '10.133', '11.228', '147.565', '5.095.388']]

## Criando um Data Frame

Vamos inserir todo o conteudo em uma lista **UF** vazia, para simplicar a leitura do dataset

In [137]:
# Agora vamos transformar as listas em uma tabela. 
UF=[]
for linha in range(28):  # Criando lista com 28 estados da federação
  UF.append(dados[0:][linha])

UF

[['UF',
  'Municípios',
  'Locais de \nprova',
  'Coordenações',
  'Salas de \nprova',
  'Inscritos'],
 ['AC', '17', '120', '130', '1.292', '38.649'],
 ['AL', '26', '228', '229', '2.591', '89.826'],
 ['AM', '56', '233', '259', '3.421', '118.149'],
 ['AP', '8', '115', '115', '1.321', '42.636'],
 ['BA', '160', '985', '1.069', '12.221', '395.437'],
 ['CE', '119', '711', '732', '8.631', '294.992'],
 ['DF', '1', '158', '166', '2.934', '95.862'],
 ['ES', '38', '186', '196', '2.935', '102.276'],
 ['GO', '55', '311', '371', '4.954', '169.984'],
 ['MA', '79', '636', '665', '6.482', '218.082'],
 ['MG', '188', '972', '1.121', '15.518', '534.648'],
 ['MS', '41', '155', '166', '2.170', '70.396'],
 ['MT', '57', '191', '210', '2.683', '88.122'],
 ['PA', '75', '741', '761', '8.521', '279.603'],
 ['PB', '51', '350', '378', '4.484', '147.182'],
 ['PE', '80', '584', '616', '7.846', '275.327'],
 ['PI', '32', '312', '340', '3.472', '122.338'],
 ['PR', '88', '369', '418', '6.479', '211.308'],
 ['RJ', '52', '554', '606', '9.820', '339.722'],
 ['RN', '40', '236', '245', '3.281', '119.324'],
 ['RO', '24', '124', '135', '1.934', '58.643'],
 ['RR', '7', '34', '41', '484', '12.959'],
 ['RS', '106', '369', '428', '6.611', '218.471'],
 ['SC', '56', '147', '209', '3.348', '110.702'],
 ['SE', '30', '180', '195', '2.328', '78.487'],
 ['SP', '210', '1.017', '1.302', '20.353', '816.014'],
 ['TO', '31', '115', '125', '1.451', '46.249']]

In [138]:
# Plotando Dataset em formato Tabular.
df = pd.DataFrame(UF)
print(df)

     0           1  ...                 4          5
0   UF  Municípios  ...  Salas de \nprova  Inscritos
1   AC          17  ...             1.292     38.649
2   AL          26  ...             2.591     89.826
3   AM          56  ...             3.421    118.149
4   AP           8  ...             1.321     42.636
5   BA         160  ...            12.221    395.437
6   CE         119  ...             8.631    294.992
7   DF           1  ...             2.934     95.862
8   ES          38  ...             2.935    102.276
9   GO          55  ...             4.954    169.984
10  MA          79  ...             6.482    218.082
11  MG         188  ...            15.518    534.648
12  MS          41  ...             2.170     70.396
13  MT          57  ...             2.683     88.122
14  PA          75  ...             8.521    279.603
15  PB          51  ...             4.484    147.182
16  PE          80  ...             7.846    275.327
17  PI          32  ...             3.472    122.338
18  PR          88  ...             6.479    211.308
19  RJ          52  ...             9.820    339.722
20  RN          40  ...             3.281    119.324
21  RO          24  ...             1.934     58.643
22  RR           7  ...               484     12.959
23  RS         106  ...             6.611    218.471
24  SC          56  ...             3.348    110.702
25  SE          30  ...             2.328     78.487
26  SP         210  ...            20.353    816.014
27  TO          31  ...             1.451     46.249

[28 rows x 6 columns]

In [139]:
# Apagando a primeira linha e criar colunas no Dataframe
df.drop(0,axis=0,inplace=True) 

#Definindo as colunas do nosso Dataframe
df.columns = ['UF',
'Municípios',
'Coordenações',
'Locais de prova',
'Salas de prova',
'Inscritos']

In [140]:
print(df)

    UF Municípios Coordenações Locais de prova Salas de prova Inscritos
1   AC         17          120             130          1.292    38.649
2   AL         26          228             229          2.591    89.826
3   AM         56          233             259          3.421   118.149
4   AP          8          115             115          1.321    42.636
5   BA        160          985           1.069         12.221   395.437
6   CE        119          711             732          8.631   294.992
7   DF          1          158             166          2.934    95.862
8   ES         38          186             196          2.935   102.276
9   GO         55          311             371          4.954   169.984
10  MA         79          636             665          6.482   218.082
11  MG        188          972           1.121         15.518   534.648
12  MS         41          155             166          2.170    70.396
13  MT         57          191             210          2.683    88.122
14  PA         75          741             761          8.521   279.603
15  PB         51          350             378          4.484   147.182
16  PE         80          584             616          7.846   275.327
17  PI         32          312             340          3.472   122.338
18  PR         88          369             418          6.479   211.308
19  RJ         52          554             606          9.820   339.722
20  RN         40          236             245          3.281   119.324
21  RO         24          124             135          1.934    58.643
22  RR          7           34              41            484    12.959
23  RS        106          369             428          6.611   218.471
24  SC         56          147             209          3.348   110.702
25  SE         30          180             195          2.328    78.487
26  SP        210        1.017           1.302         20.353   816.014
27  TO         31          115             125          1.451    46.249

In [141]:
#Definir tipos de variavei para cada colunas

df['Municípios'] = df['Municípios'].astype('int64')
df['Coordenações'] = df['Coordenações'].str.replace(".","").astype('int64')
df['Locais de prova']=df['Locais de prova'].str.replace(".","").astype('int64')
df['Salas de prova']=df['Salas de prova'].str.replace(".","").astype('int64')
df['Inscritos']=df['Inscritos'].str.replace(".","").astype('int64')

In [142]:
df.dtypes

UF                 object
Municípios          int64
Coordenações        int64
Locais de prova     int64
Salas de prova      int64
Inscritos           int64
dtype: object

In [146]:
print(df)

    UF  Municípios  Coordenações  Locais de prova  Salas de prova  Inscritos
1   AC          17           120              130            1292      38649
2   AL          26           228              229            2591      89826
3   AM          56           233              259            3421     118149
4   AP           8           115              115            1321      42636
5   BA         160           985             1069           12221     395437
6   CE         119           711              732            8631     294992
7   DF           1           158              166            2934      95862
8   ES          38           186              196            2935     102276
9   GO          55           311              371            4954     169984
10  MA          79           636              665            6482     218082
11  MG         188           972             1121           15518     534648
12  MS          41           155              166            2170      70396
13  MT          57           191              210            2683      88122
14  PA          75           741              761            8521     279603
15  PB          51           350              378            4484     147182
16  PE          80           584              616            7846     275327
17  PI          32           312              340            3472     122338
18  PR          88           369              418            6479     211308
19  RJ          52           554              606            9820     339722
20  RN          40           236              245            3281     119324
21  RO          24           124              135            1934      58643
22  RR           7            34               41             484      12959
23  RS         106           369              428            6611     218471
24  SC          56           147              209            3348     110702
25  SE          30           180              195            2328      78487
26  SP         210          1017             1302           20353     816014
27  TO          31           115              125            1451      46249

##Conclusão.

Com base na célula acima já podemos iniciar uma analise exploratória (EDA) da tabela, porem não é o objetivo do projeto,para não torna-lo extenso pois o objetivo é somente demostrar como podemos ler um arquivo pdf e manipula-lo até virar um data set. Não importa o tamanho do arquivo o condicionamento será muito parecido com este.